* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-wrapper .text-box {
    width: 600px;
    position: absolute;
    top: 71%;
    left: 33%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
}

.box-wrapper .text-box h2 {
    color: #fff;
    font-size: 2.5rem;
    -webkit-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box-wrapper .text-box a {
    text-decoration: none;
}

.box-wrapper .text-box a h2 {
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.box-wrapper .text-box a h2:hover {
    color: rgb(196, 13, 252);
}

.circle-box {
    position: relative;
    width: 200px;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: animate 20s linear infinite;
    animation: animate 20s linear infinite;
    cursor: pointer;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.circle-box:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateY(360deg);
        transform: perspective(800px) rotateY(360deg);
    }
}

@keyframes animate {
    0% {
        -webkit-transform: perspective(800px) rotateY(0deg);
        transform: perspective(800px) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateY(360deg);
        transform: perspective(800px) rotateY(360deg);
    }
}

.circle-box .circle-wrap {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.circle-box .circle-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}

.circle-box .circle-wrap img:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}

@media screen and (max-width:480px) {
    .box-wrapper .text-box {
        width: 305px;
        top: 80%;
        left: 12%;
    }
    .box-wrapper .text-box h2 {
        font-size: 1.5rem;
    }
}
